/* Variables */
:root {
  --basic-darker: #eeeeee;
  --basic-black: #000000;
  --basic-grey: #a6a6a6;
  --static-red: #fb565a;
  --hover-red: #e74246;
  --push-red: #d7373b;
  --static-grey: #eeeeee;
  --hover-grey: #dfdfdf;
  --push-grey: #d5d5d5;
  --static-green: #00ca74;
  --hover-green: #00bc6c;
  --push-green: #00aa62;
  --static-yellow: #efc84a;
  --hover-yellow: #eab534;
  --push-yellow: #e5a722;
  --invalid-red: #e74246;

  --special-grey: #e1e1e1;
  --special-red: #e74246;
}

/* Global */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  color: white;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--static-red);
  display: inline-block;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-width: 0px;
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--hover-red);
}

.button:active {
  color: white;
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_opacity:active {
  background-color: var(--push-red);
  opacity: 0.7;
}

.features__button {
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.features__butto:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
}

.button_green {
  background-color: var(--static-green);
}

.button_green:hover,
.button_green:focus {
  background-color: var(--hover-green);
}

.button_green:active {
  background-color: var(--push-green);
}

.button_yellow {
  background-color: var(--static-yellow);
}

.button_yellow:hover,
.button_yellow:focus {
  background-color: var(--hover-yellow);
}

.button_yellow:active {
  background-color: var(--push-yellow);
}

.button-footer {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-submit {
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-filter {
  width: 260px;
  height: 50px;
  background: var(--static-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.button-filter:hover,
.button-filter:focus {
  background: var(--hover-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.button-filter:active {
  background: var(--push-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.gallery__button {
  width: 200px;
  height: 50px;
}

.gallery__button:active {
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Grid*/

.page {
  height: 100%;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

body {
  min-height: 100%;
}

/* Index-Header */
.header {
  background-color: var(--basic-darker);
  font-weight: 500;
  line-height: 30px;

  display: flex;
  flex-wrap: wrap;
}

.header_index {
  margin-bottom: 80px;
}

.header__breadcrumbs {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding: 0px;

  display: flex;
  width: 440px;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo:hover,
.header__logo:focus {
  color: var(--basic-black);
}

.header__logo:active {
  color: var(--push-grey);
}

.nav__item {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav__item a:hover,
.nav__item a:focus {
  color: var(--hover-red);
}

.nav__item a:active {
  color: var(--push-grey);
}

.item-selected {
  border-bottom-width: 2px;
  border-bottom-color: var(--static-red);
  border-bottom-style: solid;
  padding-bottom: 12px;
}

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greetings {
  width: 400px;
}

.page__title {
  margin-top: 0px;
  margin-bottom: 25px;
}

.greetings__subtitle {
  margin-bottom: 38px;
}

.slider {
  width: 760px;
  height: 431px;
}

.cart {
  padding-left: 25px;
}

.page__title {
  font-size: 55px;
  line-height: 55px;
}

/* Index-Main */
.features {
  margin-bottom: 95px;
}

.features__list {
  list-style: none;
  padding: 0px;
  display: flex;
}

.features__item {
  width: 300px;
  margin-right: 100px;
}

.features__image {
  margin-bottom: 25px;
}

.feature__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0px;
  margin-bottom: 16px;
}

.feature__item-desc {
  margin: 0px;
  margin-bottom: 32px;
}

.text-container__tagline {
  font-weight: 500px;
  font-size: 45px;
  line-height: 45px;
}

.text-container__services-title {
  font-weight: bold;
  text-transform: uppercase;
}

.text-container__services-list {
  list-style: none;
  padding-left: 0px;
}

.text-container__services-item {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.index-content {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--static-grey);
  border-bottom: 2px solid var(--static-grey);
  padding-top: 39px;
  padding-bottom: 73px;
}

.text-container {
  width: 670px;
}

.text-container__tagline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;

  margin-bottom: 32px;
}

.text-container__desc {
  margin-bottom: 40px;
}

.text-container__services-title {
  margin-bottom: 23px;
}

.text-container__services-item {
  margin-bottom: 46px;
}

.text-container__services-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: var(--static-red);
}

.stats-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container__tagline {
  font-weight: bold;
}

.table__description {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.table__term {
  line-height: 18px;
}

.clients__list {
  list-style: none;
  padding-left: 0px;
  height: 180px;
  border-bottom: 2px solid var(--static-grey);
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__item {
  opacity: 0.2;
}

.clients__item:hover,
.clients__item:focus {
  opacity: 1;
}

.clients__item:active {
  opacity: 0.1;
}

/* Footer */
.map__image {
  margin-left: 0px;
  margin-right: 0px;
}

.contact-info {
  background-color: white;

  box-sizing: content-box;
  width: 269px;
  height: 259px;
  padding-top: 49px;
  padding-left: 50px;
}

.contact-info__address {
  font-style: normal;

  margin-bottom: 18px;
}

.contact-info__tel {
  display: block;
  margin-bottom: 37px;
}

.contact-info__studio {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.pop-up {
  display: none;
}

.pop-up__legend {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.pop-up__label {
  font-weight: bold;
  line-height: 18px;
}

.pop-up__input {
  width: 328px;
  height: 36px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.pop-up__input:focus {
  border: 2px solid #000000;
}

.pop-up__input:invalid {
  border: 2px solid #e74246;
  color: var(--special-red);
}

.pop-up__textarea {
  width: 760px;
  height: 118px;
  font-family: inherit;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.socials {
  display: flex;
}

.socials__text {
  margin: auto;
}

.socials__tagline {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 10px;
}

.socials__subtitle {
  line-height: 22px;

  margin: 0px;
}

.socials__list {
  list-style: none;
  padding: 0px;
  display: flex;
  width: 260px;
  justify-content: space-between;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), var(--basic-darker);
}

.socials__item-img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.vk-logo {
  box-sizing: border-box;
  width: 26px;
  height: 15px;
}

.fb-logo {
  box-sizing: border-box;
  width: 12px;
  height: 22px;
}

.inst-logo {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}

.socials__item:hover,
.socials__item:focus {
  background: linear-gradient(0deg, #e74246, #e74246), var(--basic-darker);
}

.socials__item:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), var(--basic-darker);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.socials__item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Catalog-Header */
.page__title {
  display: block;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 78px;
  margin-bottom: 108px;
}

.header_catalog {
  margin-bottom: 55px;
}

/* Catalog-Main */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
  align-content: start;

  margin: 0;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.filter__cost {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.filter__tag {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  margin-bottom: 16px;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.range {
  display: block;
  width: 260px;
  height: 80px;
  background-color: var(--basic-darker);
  border-radius: 3px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.output {
  display: block;
  width: 80px;
  height: 38px;
  background-color: var(--basic-darker);
  border-radius: 3px;
}

.filter__grid {
  margin-top: 54px;
  border-width: 0;
}

.filter__preferences {
  margin-top: 54px;
  margin-bottom: 50px;
  border-width: 0;
}

.filter__list,
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.sort__container {
  display: flex;
  justify-content: flex-start;
}
.sort__tag {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__item {
  line-height: 18px;
  text-transform: uppercase;
}

.gallery__list {
  list-style: none;

  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.gallery__item {
  width: 360px;
  height: 580px;

  margin-right: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.gallery__item:nth-child(2n) {
  margin-right: 0;
}

.gallery__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.gallery__item-title:hover,
.gallery__item-title:focus {
  color: var(--static-red);
}

.gallery__item-title:active {
  color: var(--basic-black);
  opacity: 0.3;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.gallery__subtitle {
  line-height: 18px;
  text-align: center;

  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.pagination {
  display: flex;
}

.pagination__item {
  font-weight: 500;
  width: 50px;
  height: 50px;
  background-color: var(--basic-darker);
}

.pagination__item:hover .gallery .pagination li:focus {
  background-color: var(--hover-grey);
}

.pagination__item:active {
  background-color: var(--push-grey);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
