/* Variables */
:root {
  --white: #ffffff;
  --basic-darker: #eeeeee;
  --basic-black: #000000;
  --basic-grey: #a6a6a6;
  --static-red: #fb565a;
  --hover-red: #e74246;
  --push-red: #d7373b;
  --static-grey: #eeeeee;
  --hover-grey: #dfdfdf;
  --push-grey: #d5d5d5;
  --static-green: #00ca74;
  --hover-green: #00bc6c;
  --push-green: #00aa62;
  --static-yellow: #efc84a;
  --hover-yellow: #eab534;
  --push-yellow: #e5a722;
  --invalid-red: #e74246;

  --special-grey: #e1e1e1;
  --special-red: #e74246;
  --range-grey: #d7dcdf;
}

/* Global */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.button {
  color: white;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--static-red);
  display: inline-block;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-width: 0px;
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--hover-red);
}

.button:active {
  color: white;
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_opacity:active {
  background-color: var(--push-red);
  opacity: 0.7;
}

.features__button {
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.features__butto:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
}

.button_green {
  background-color: var(--static-green);
}

.button_green:hover,
.button_green:focus {
  background-color: var(--hover-green);
}

.button_green:active {
  background-color: var(--push-green);
}

.button_yellow {
  background-color: var(--static-yellow);
}

.button_yellow:hover,
.button_yellow:focus {
  background-color: var(--hover-yellow);
}

.button_yellow:active {
  background-color: var(--push-yellow);
}

.button-footer {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-submit {
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-filter {
  width: 260px;
  height: 50px;
  background: var(--static-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.button-filter:hover,
.button-filter:focus {
  background: var(--hover-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.button-filter:active {
  background: var(--push-grey);
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.gallery__button {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  padding: 0px;
  margin-bottom: 60px;
  margin-left: 80px;
}

.gallery__button:active {
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Grid*/

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

body {
  min-height: 100%;
}

/* Index-Header */
.header {
  background-color: var(--basic-darker);
  font-weight: 500;
  line-height: 30px;

  display: flex;
  flex-wrap: wrap;
}

.header_index {
  margin-bottom: 80px;
}

.header__breadcrumbs {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.nav {
  margin-top: 15px;
  margin-right: 55px;
}

.nav__list {
  list-style: none;
  padding: 0px;

  display: flex;
  width: 440px;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.header__logo:hover,
.header__logo:focus {
  color: var(--basic-black);
}

.header__logo:active {
  color: var(--push-grey);
}

.nav__item {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav__item a:hover,
.nav__item a:focus {
  color: var(--hover-red);
}

.nav__item a:active {
  color: var(--push-grey);
}

.item-selected {
  border-bottom-width: 2px;
  border-bottom-color: var(--static-red);
  border-bottom-style: solid;
  padding-bottom: 12px;
}

.presentation {
  position: relative;
  padding-bottom: 80px;
  width: 1160px;
}

.greetings {
  width: 400px;
}

.greetings__subtitle {
  margin-top: 0px;
  margin-bottom: 38px;
}

.slider {
  width: 760px;
  height: 431px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cart {
  margin-top: 10px;
  padding-left: 25px;
  text-transform: uppercase;
}

.page__title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Index-Main */
.features {
  margin-bottom: 80px;
}

.features__list {
  list-style: none;
  padding: 0px;
  display: flex;
}

.features__item {
  width: 300px;
  margin-right: 100px;
}

.features__item:last-of-type {
  margin-right: 0;
}

.features__image {
  margin-bottom: 18px;
}

.feature__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0px;
  margin-bottom: 16px;
}

.feature__item-desc {
  display: block;
  margin: 0px;
  margin-bottom: 33px;
}

.index-content {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--static-grey);
  border-bottom: 2px solid var(--static-grey);
  padding-top: 38px;
  padding-bottom: 52px;
}

.text-container {
  width: 670px;
}

.text-container__tagline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 36px;
  margin-bottom: 35px;
}

.text-container__desc {
  margin-bottom: 40px;
}

.text-container__services-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 23px;
}

.text-container__services-list {
  list-style: none;
  padding-left: 0px;
}

.text-container__services-item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.text-container__services-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: var(--static-red);
  margin-right: 7px;
}

.stats-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container__tagline {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 37px;
  margin-bottom: 20px;
}

.table {
  display: grid;
  width: 360px;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    "desc1 desc2 desc3"
    "term1 term2 term3";
}

.table__term {
  line-height: 18px;
}

.table__term_1 {
  grid-area: term1;
}

.table__term_2 {
  grid-area: term2;
}

.table__term_3 {
  grid-area: term3;
}

.table__description {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0px;
}

.table__description::after {
  content: "%";
  display: inline-block;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.table__desc_1 {
  grid-area: desc1;
}

.table__desc_2 {
  grid-area: desc2;
}

.table__desc_3 {
  grid-area: desc3;
}

.clients__list {
  list-style: none;
  padding-left: 32px;
  padding-right: 45px;
  height: 166px;
  border-bottom: 2px solid var(--static-grey);
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__item {
  opacity: 0.2;
}

.clients__item:hover,
.clients__item:focus {
  opacity: 1;
}

.clients__item:active {
  opacity: 0.1;
}

/* Footer */
.footer__contacts {
  position: absolute;
}

.map__image {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 416px;
  object-fit: cover;
}

.map__marker {
  position: relative;
  z-index: 1;
}

.contact-info {
  position: relative;
  background-color: white;

  box-sizing: content-box;
  width: 269px;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  z-index: 1;
}

.contact-info__address {
  font-style: normal;

  margin-bottom: 18px;
}

.contact-info__tel {
  display: block;
  margin-bottom: 37px;
}

.contact-info__studio {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.pop-up {
  display: none;
}

.pop-up__legend {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.pop-up__label {
  font-weight: bold;
  line-height: 18px;
}

.pop-up__input {
  width: 328px;
  height: 36px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.pop-up__input:focus {
  border: 2px solid #000000;
}

.pop-up__input:invalid {
  border: 2px solid #e74246;
  color: var(--special-red);
}

.pop-up__textarea {
  width: 760px;
  height: 118px;
  font-family: inherit;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.socials {
  display: flex;
}

.socials__text {
  margin: auto;
}

.socials__tagline {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 10px;
}

.socials__subtitle {
  line-height: 22px;

  margin: 0px;
}

.socials__list {
  list-style: none;
  padding: 0px;
  display: flex;
  width: 260px;
  justify-content: space-between;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), var(--basic-darker);
}

.socials__item-img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.vk-logo {
  box-sizing: border-box;
  width: 26px;
  height: 15px;
}

.fb-logo {
  box-sizing: border-box;
  width: 12px;
  height: 22px;
}

.inst-logo {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}

.socials__item:hover,
.socials__item:focus {
  background: linear-gradient(0deg, #e74246, #e74246), var(--basic-darker);
}

.socials__item:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), var(--basic-darker);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* Catalog-Header */

.header_catalog {
  padding-bottom: 88px;
  margin-bottom: 38px;
}

.page__title_catalog {
  text-align: center;
}

/* Catalog-Main */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
  align-content: start;
}

.filter__cost {
  margin: 0px;
  padding: 0px;
  margin-bottom: 60px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-filter__range-controls {
  position: relative;
  height: 41px;
  background-color: var(--static-grey);
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-filter__scale {
  height: 2px;
  background: var(--range-grey);
}

.range-filter__bar {
  width: 70%;
  height: 2px;
  background: var(--static-green);
}

.range-filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle_min {
  left: 18px;
}

.toggle_max {
  left: 160px;
}

.range-filter__price-controls {
  display: flex;
  justify-content: space-between;
}

.range-filter__price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-darker);

  font-family: inherit;
  font-size: inherit;
}

.filter__tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.filter__tag_cost {
  padding-top: 20px;
}

.filter__grid {
  margin: 0px;
  padding: 0px;

  border-width: 0;
}

.filter__preferences {
  margin-top: 54px;
  margin-bottom: 50px;
  border-width: 0;
}

.filter__list,
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sort__container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: auto;
}

.sort__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 47px;
}

.sort__tag {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 25px;
}

.sort__item:last-of-type {
  margin-right: 0;
}

.sort__value_desc {
  margin-right: 15px;
}

.sort__value svg {
  fill: var(--basic-grey);
  opacity: 0.2;
}

.sort__value:hover svg,
.sort__value:focus svg {
  opacity: 1;
}

.sort__value:active svg,
.sort__value_active svg {
  fill: var(--basic-black);
  opacity: 1;
}

.gallery__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  border-radius: 3px;
}

.gallery__item {
  position: relative;
  width: 360px;

  margin-right: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.gallery__item:nth-child(2n) {
  margin-right: 0;
}

.gallery__item-card svg {
  fill: #4d4d4d;
  opacity: 0.12;
}

.gallery__desc {
  width: 100%;
  background-color: var(--basic-darker);
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.gallery__item-title {
  display: block;
  margin-top: 26px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.gallery__item-title:hover,
.gallery__item-title:focus {
  color: var(--static-red);
}

.gallery__item-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.gallery__subtitle {
  display: block;
  width: 255px;
  line-height: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.gallery__desc-price {
  display: block;
  margin: auto;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.pagination {
  display: flex;
  margin-bottom: 60px;
  align-items: baseline;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination__item {
  font-weight: 500;
  width: 50px;
  height: 50px;
  background-color: var(--basic-darker);

  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.pagination__item:hover,
.pagination__item:focus {
  background-color: var(--hover-grey);
  border: 3px solid #dbdbdb;
}

.pagination__item:active {
  background-color: var(--push-grey);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination__item_active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination__link_next {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  width: 260px;
  height: 50px;
  background: var(--basic-darker);
  border-radius: 3px;
}
