/* Variables */
:root {
  --basic-darker: #eeeeee;
  --basic-black: #000000;
  --basic-grey: #a6a6a6;
  --static-red: #fb565a;
  --hover-red: #e74246;
  --push-red: #d7373b;
  --static-grey: #eeeeee;
  --hover-grey: #dfdfdf;
  --push-grey: #d5d5d5;
  --static-green: #00ca74;
  --hover-green: #00bc6c;
  --push-green: #00aa62;
  --static-yellow: #efc84a;
  --hover-yellow: #eab534;
  --push-yellow: #e5a722;
  --invalid-red: #e74246;

  --special-grey: #e1e1e1;
  --special-red: #e74246;
}

/* Global */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  color: white;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--static-red);
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-width: 0px;
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--hover-red);
}

.button:active {
  color: white;
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_opacity:active {
  background-color: var(--push-red);
  opacity: 0.7;
}

.button-features {
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.button-features:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
}

.button_green {
  background-color: var(--static-green);
}

.button_green:hover,
.button_green:focus {
  background-color: var(--hover-green);
}

.button_green:active {
  background-color: var(--push-green);
}

.button_yellow {
  background-color: var(--static-yellow);
}

.button_yellow:hover,
.button_yellow:focus {
  background-color: var(--hover-yellow);
}

.button_yellow:active {
  background-color: var(--push-yellow);
}

.button-footer {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-footer {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-submit {
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-social {
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.button-social:hover,
.button-social:focus {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}

.button-social:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.button-filter {
  background: var(--static-grey);
}

.button-filter:hover,
.button-filter:focus {
  background: var(--hover-grey);
}

.button-filter:active {
  background: var(--push-grey);
}

.button-gallery {
  width: 200px;
  height: 50px;
}

.button-gallery:active {
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Index-Header */
.header {
  background-color: var(--basic-darker);
  font-weight: 500;
  line-height: 30px;
}

.nav__list {
  list-style: none;
  padding: 0px;
}

.header__logo:hover,
.header__logo:focus {
  color: var(--basic-black);
}

.header__logo:active {
  color: var(--push-grey);
}

.nav__item a:hover,
.nav__item a:focus {
  color: var(--hover-red);
}

.nav__list {
  display: flex;
}

.nav__item a:active {
  color: var(--push-grey);
}

.item-selected {
  border-bottom-width: 2px;
  border-bottom-color: var(--static-red);
  border-bottom-style: solid;;
  padding-bottom: 12px;
}

.page__title {
  font-size: 55px;
  line-height: 55px;
}

/* Index-Main */
.features__list {
  list-style: none;
  padding: 0px;
}

.feature__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-container__tagline {
  font-weight: 500px;
  font-size: 45px;
  line-height: 45px;
}

.text-container__services-title {
  font-weight: bold;
  text-transform: uppercase;
}

.text-container__services-list {
  list-style: none;
  padding-left: 0px;
}

.text-container__services-item {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.text-container__services-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: var(--static-red);
}

.stats-container__tagline {
  font-weight: bold;
  text-transform: uppercase;
}

.table_desrition {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.table_term {
  line-height: 18px;
}

.clients__list {
  list-style: none;
  padding-left: 0px;
}

.clients__item {
  opacity: 0.2;
}

.clients__item:hover,
.clients__item:focus {
  opacity: 1;
}

.clients__item:active {
  opacity: 0.1;
}

/* Footer */
.map {
  background-image: url("../img/map.png");
  background-position: center, 0 0;
  width: 1440px;
  height: 416px;
}

.contact-info {
  background-color: white;
}

.contact-info__address {
  font-style: normal;
  padding-bottom: 20px;
}

.contact-info__studio {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.pop-up {
  display: none;
}

.pop-up__legend {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.pop-up__label {
  font-weight: bold;
  line-height: 18px;
}

.pop-up__input {
  width: 328px;
  height: 36px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.pop-up__input:focus {
  border: 2px solid #000000;
}

.pop-up__input:invalid {
  border: 2px solid #e74246;
  color: var(--special-red);
}

.pop-up__textarea {
  width: 760px;
  height: 118px;
  font-family: inherit;
  line-height: 18px;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.socials__tagline {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.socials__subtitle {
  line-height: 22px;
}

.socials__list {
  list-style: none;
  padding: 0px;
}

.socials_item {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 81px;
  height: 81px;
}

.socials__item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Catalog-Header */
.page__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Catalog-Main */
.filter__tag {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range {
  display: block;
  width: 260px;
  height: 80px;
  background-color: var(--basic-darker);
  border-radius: 3px;
}

.output {
  display: block;
  width: 80px;
  height: 38px;
  background-color: var(--basic-darker);
  border-radius: 3px;
}

.gallery__list {
  list-style: none;
}

.gallery_item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.gallery_item-title:hover,
.gallery_item-title:focus {
  color: var(--static-red);
}

.gallery_item-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.gallery-subtitle {
  line-height: 18px;
  text-align: center;
}

.pagination-item {
  font-weight: 500;
  width: 50px;
  height: 50px;
  background-color: var(--basic-darker);
}

.pagination-item:hover .gallery .pagination li:focus {
  background-color: var(--hover-grey);
}

.pagination-item:active {
  background-color: var(--push-grey);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
